header{background-color: blue;}
nav{background-color: burlywood;}
section{background-color: cornflowerblue;}
aside{background-color: darkgreen;}
article{background-color: darkmagenta;}
footer{background-color: darkolivegreen;}
