#htmlpage{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;



}

h1{
    
    font-size: 70px;
}


#container-intro-me{
    display: flex;
    flex-flow: row-reverse;
    background-color: blanchedalmond;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#content-intro-me{
    width:"40%";
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;


}

#img-intro-m{
width: 45%;

padding-left: 1%;
padding-right: 1%;
padding-top: 1%;
padding-bottom: 1%;

margin-left: 1%;
margin-right: 1%;
margin-top: 1%;
margin-bottom: 1%;

}









#container-castle{
    
    
    height: auto;
    width: auto;
    clear: both;
    background-color: rgb(233, 187, 4);
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}



#img-castle{
    background-color: rgb(28, 230, 230);
   float: inherit;
    width: 50%;
    height: 50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

    
    
   
    
}
#content-castle{
    
    background-color: rgb(152, 202, 202);
    float: right;
    
    width: 30%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    

    

    
}


body{
    
    background-color: ghostwhite;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#container-unionbuilding{
    display: flex;
    flex-wrap: wrap-reverse;
    

    width: auto;
    height: auto;
    clear: both;
    

    background-color: cornsilk;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

}
#content-unionbuilding{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(152, 202, 202);
    
    width: 30%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
#img-unionbuilding{
   
    display: flex;
    flex-wrap: wrap;
    width:50%;
    height: 50%;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    
    
    

}

#container-museum{
    display: flex;
    flex-flow: row;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-style: ridge;
}

#content-museum{
    
    
    width: 45%;
    border-style: ridge;

    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    

}
#img-museum{
    
    
    width: 45%;
    
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    

}