header{
    background-color: blue;
    
    
}
nav{
    background-color: burlywood;
}
section{
    background-color: cornflowerblue;
    float: right;
    width: 320px;
    height: 320px;
}
aside{
    background-color: darkgreen;
    float: inline-end;
    width: 320px;
    height: 320px;
    
}
article{
    background-color: darkmagenta;
    float:left;
    width: 320px;
    height: 320px;
}

footer{
    background-color: darkolivegreen;
    width: 320px;
    height: 320px;
}
body{
    background-color: darkred;
    padding: 10px 10px;
   
}
